@import '../../Styles/config';

.card {
	// background: $lightgrey-color;
	// margin: 1rem;
	// padding: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	.card-wrapper {
		background: white;
		margin: 1rem 1rem 3rem 1rem;
		// padding: 1rem;
		border-radius: 0.6rem;

		img {
			height: 240px;
			border-radius: 0.6rem;
		}

		&_actions {
			display: flex;
			flex-direction: row;
			justify-content: space-between;

			h4 {
				padding-top: 0.6rem;
				font-size: 1rem;
				font-weight: 500;
				color: $lightbg-color;
				letter-spacing: 0.06rem;

				.project-name {
					color: $bg-color;
				}
			}

			.icons {
				display: flex;
				flex-direction: row;

				.link {
					display: flex;
					flex-direction: row;
					justify-content: center;

					a {
						text-align: center;
						margin: 0;
						padding-top: 0.5rem;
						padding-right: 1.5rem;
						color: $lightbg-color;
					}
				}

				.likes {
					display: flex;
					flex-direction: row;
					padding-top: 0.6rem;
					color: $lightbg-color;

					i {
						margin: 0;
						padding-top: 0.15rem;
					}

					p {
						margin: 0;
						padding-left: 0.4rem;
						font-size: 0.9rem;
						font-weight: 500;
					}
				}
			}
		}
	}

	&_content {
		margin: 0rem 1rem;
		// padding: 0rem 1rem;
		display: flex;
		flex-direction: column;

		h4 {
			font-size: 0.8rem;
			font-weight: 400;
			color: $lightbg-color;
			letter-spacing: 0.15rem;
		}

		p {
			font-family: $secondary-font;
			font-size: 0.9rem;
			font-weight: 100;
			letter-spacing: 0.07rem;
			line-height: 1.6rem;
			padding-bottom: 1.8rem;
		}

		.project-name {
			color: $bg-color;
		}
	}
}

// Media Queries
@include media-md {
	.card {
		.card-wrapper {
			img {
				height: 400px;
			}
		}
	}
}
